#login-container{
    margin-top: 10%;
}

#login-container h1,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container button{
    margin-top: 15px;
}

#login-container .form-label{
    float: left;
}